/*=======================
    REGLAS GENERALES
========================*/

html {
    scroll-behavior: smooth !important;
}

:target {
    scroll-margin-top: 5rem;
}

body {
    background-color: rgba(242, 245, 249, 1) !important;
    box-sizing: border-box;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    position: relative;

}

ul,
li {
    list-style: none;
}

a:link,
a {
    text-decoration: none !important;
}

img {
    width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    opacity: 0;
}

.fa-angle-left {
    color: rgba(0, 123, 255, 1);
    position: absolute;
    top: 40%;
    left: 3%;
    font-size: 2em;
    z-index: 1;
}

.fa-angle-right {
    color: rgba(0, 123, 255, 1);
    position: absolute;
    top: 40%;
    right: 3%;
    font-size: 2em;
    z-index: 1;
}

.swiper-cliente .fa-angle-left {
    color: rgba(0, 123, 255, 1);
    position: absolute;
    top: 50%;
    left: 1%;
    font-size: 2em;
    z-index: 1;
}

.swiper-cliente .fa-angle-right {
    color: rgba(0, 123, 255, 1);
    position: absolute;
    top: 50%;
    right: 1%;
    font-size: 2em;
    z-index: 1;
}

.swiper-linea-mobile .fa-angle-left,
.swiper-linea-mobile .fa-angle-right {
    color: rgba(20, 30, 58, 1);
    ;
}



/*==========================
        BOTON RETORNAR
===========================*/
.btn-top {
    position: fixed;
    right: 1%;
    bottom: 1em;
    z-index: 10;
    transition: all 0.3s ease-in-out 0s !important;
}

.btn-top:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.fa-arrow-circle-up {
    font-size: 3em;
    color: rgba(236, 84, 108, 1);
}

/*========================
        NAVBAR
=========================*/
.bg-navbar {
    background-color: rgba(36, 36, 68, 1);
    box-sizing: border-box;

}

.navbar-brand {
    background-color: rgba(99, 92, 92, 1);
    border-radius: 5px;
    padding: 0.5em;
}

.nav-link {
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
    font-size: 0.9em;
}

.nav-link:hover {
    color: rgba(236, 84, 108, 1);
}

.dropdown-item {
    color: rgba(20, 30, 58, 1);
    font-size: 0.9em;
    font-weight: 600;
}

.now {
    color: rgba(236, 84, 108, 1);
    font-weight: bolder;
}

.now:hover {
    color: rgba(220, 53, 69, 1);
}

.navbar-toggler-icon {
    background-color: rgba(255, 255, 255, 1);
}

.fa-bars {
    color: rgba(236, 84, 108, 1)
}

.dropdown-item {
    padding: 0.8em;
}


/*=============================
        SECTION HOME
=============================*/
.container-home {
    background-color: rgba(36, 36, 68, 1);
    padding-top: 7%;
    margin-bottom: -5%;
    overflow: hidden;

}

.div-center {
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding: 0.5%;
}

.home-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-title {
    font-size: 2.5em;
    font-weight: bold;
}

.home-description {
    font-size: 1em !important;
    font-weight: 300;
}

.btn-demo {
    background-color: rgba(236, 84, 108, 1) !important;
    border-radius: 30px !important;
    color: rgba(255, 255, 255, 1) !important;
    padding: 0.5em 1.5em !important;
    font-weight: 600 !important;
    transition: all 0.3s ease-in-out 0s !important;
}

.btn-demo:hover {
    transform: scale(1.1);
    background-color: rgba(220, 53, 69, 1) !important;
}

.img-home {
    display: flex;
    justify-content: center;
}

.img-home-content {
    display: flex;
    align-items: center;
}


.solicitar-demo-home {
    margin-top: 5%;
}


/*================================
        SECTION PLANES
=================================*/
.container-planes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
    padding-top: 2%;
    margin-bottom: 6%;
    text-align: center;

}

.planes-title {
    font-size: 2.5em;
    font-weight: bolder;
    padding: 0.2em;
}

.plan-sub {
    font-weight: bolder;
}

.container-planes-inf {
    display: flex;
    justify-content: center;
}

.plan-responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out 0s !important;
}

.plan-responsive:hover {
    transform: scale(1.1);
}

.title-circle {
    font-size: 1.3em;
    font-weight: bolder;
}

.fa-check {
    color: rgba(107, 193, 80, 1);
}

.img-plan {
    width: 40% !important;
}

.produccion {
    color: rgba(236, 84, 108, 1);
}

/*=============================
        SECTION PROMO
==============================*/
.container-promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(236, 84, 108, 0.6);
    align-items: center;
    margin: 0 8%;
    padding: 1% 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.promo-banner {
    position: absolute;
    top: 0%;
    width: 170%;
    object-fit: cover;
    z-index: -10;
    opacity: 0.2;

}

.promo-contac,
.promo-description,
.promo-title {
    padding: 0.5%;
}

.promo-title {
    font-size: 2.2em;
    font-weight: bold;
}

.btn-promo {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(37, 119, 253, 1);
    padding: 8% !important;
    /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 1); */
    font-weight: bolder !important;
    transition: all 0.3s ease-in-out 0s !important;
}

.btn-promo:hover {
    transform: scale(1.1);
}

.promo-description {
    font-weight: ;
}


/*===============================
        SECTION MÓDULOS
===============================*/
.container-modulos {
    /* background-color: rgba(196, 236, 252, 1); */
    padding: 2em;
    background-color: rgba(36, 36, 68, 1);

}

.modulos-desc {
    text-align: center;
    font-size: 2.5em;
    font-weight: bolder;
    /* color: rgba(52, 58, 64, 1); */
    color: rgba(255, 255, 255, 1);
    padding-top: 1em;
}

.swiper-modulo-mobile {
    display: none;
}

.sub-modulos {
    display: flex;
    column-gap: 1em;
    row-gap: 1em;
    padding: 3em;
    justify-content: center;
    text-align: center;
}

.box-modulo {
    background-color: rgba(255, 255, 255, 1);
    padding: 2em;
    box-sizing: border-box;
}

.box-modulo span {
    font-weight: 500;
}

p i {
    font-size: 3em;
    color: rgba(255, 158, 33, 1);
}


/*============================================
        SECTION FACTURACIÓN ELECTRÓNICA
=============================================*/
.container-efac {
    margin-bottom: -5% !important;
}

.content-logo,
.content-desc {
    padding: 4% !important;
}

.content-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-efac {
    margin: 5em !important;
}

.title-efac {
    font-size: 2.2em;
    font-weight: bold;
    padding: 1%;
}

.desc-efac {
    font-size: 1em;
    font-weight: 400;
    color: rgba(80, 97, 114, 1);
    padding: 1%;
}

.desc-efac span {
    display: block;
}

.content-icon-efac {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}


/*==================================
        SECTION EXCLUSIVO NOW
===================================*/

.container-ex {
    padding: 5% !important;
}

.title-ex {
    /* color: rgba(232, 62, 140, 1); */
    color: rgba(255, 0, 60, 1);
    font-size: 2.5em;
    font-weight: bold;
    padding: 2%;
    text-align: center;
}

.row-ex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2%;
}

.content-ex {
    background-color: rgba(229, 231, 232, 1);
    border-radius: 5px;
    padding: 1em;
    margin: 0.5%;
    transition: all 0.3s ease-in-out 0s;
}

.content-ex:hover {
    /* color: #fff; */
    background-color: rgba(255, 0, 60, 0.5);
    /* background-color: rgba(232, 62, 140, 0.5); */
    transform: scale(1.05);
}

.icon-title {
    font-weight: 600;
}

/*=====================================
        SECTION ARQUITECTURA NOW
======================================*/
.container-arq {
    background-color: rgba(235, 240, 246, 1);
    /* background-color: rgba(196, 236, 252, 0.4); */
    display: flex;
    justify-content: center;
    margin: 5% 0;
    padding: 2%;
    position: relative;
    overflow: hidden;

}

.contant-arq-img {
    padding: 5%;
}

.content-parallax {
    position: relative;

}

.parallax {
    position: absolute;
    top: -90%;
    left: 0;
    object-fit: cover;
    opacity: 0.6;
    z-index: -10;
}


/*========================================
        SECTION LINEAS DE PRODUCCIÓN
=========================================*/

.container-linea {
    padding-bottom: 5% !important;
}

.swiper-linea-mobile {
    display: none;
}

.title-linea {
    text-align: center;
    font-size: 2.5em;
    font-weight: bolder;
    color: rgba(52, 58, 64, 1);
    padding: 1em;
}

.title-prod {
    color: rgba(52, 58, 64, 1);
    font-weight: bolder;
    font-size: 1.1em;
    text-align: center;
    padding: 1em;
}

.row-linea {
    margin: 0 18% !important;
}

.content-prod {
    display: flex;
    flex-direction: column;
}

.content-prod a {
    background-color: rgba(245, 169, 44, 1);
    margin: 5% 0 !important;
    border-radius: 2px;
    transition: all 0.5s ease 0s;
}

.content-prod a:hover {
    transform: scale(1.1);
}

.img-prod {
    padding: 2em 2em 0 2em;
    box-sizing: border-box;
}

/*==================================
        SECTION CARACTERISTICAS
===================================*/
.container-carac {
    background-color: rgba(235, 240, 246, 1);
    position: relative;
    padding-top: 2em !important;
}


.cara-desc {
    text-align: center;
    font-size: 2.5em;
    font-weight: bolder;
    padding-top: 1em;
}

.sub-carac {
    display: flex;
    column-gap: 1em;
    row-gap: 1em;
    padding: 3em;
    justify-content: center;
    text-align: center;
}

.box-carac {
    background-color: rgba(255, 255, 255, 1);
    padding: 2em;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

.box-carac p i {
    font-size: 3em;
    /* color: rgba(40, 48, 157, 1); */
    color: rgba(236, 84, 108, 1);
}

.swiper-cloud-mobile,
.swiper-premium-mobile,
.swiper-full-mobile {
    display: none;
}





/*====================================
        SECTION OPINION CLIENTES
=====================================*/
.container-clientes {
    margin: 5% 0;
    position: relative;
}

.clientes-title {
    font-size: 2em;
    font-weight: bold;
}

.clientes-subtitle {
    font-size: 1em;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.row-clientes {
    margin: 0 10%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.clientes-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opinion-cliente {
    color: rgba(139, 139, 139, 1);
    font-weight: 500;
}

.autor-clientes {
    font-size: 0.9em;
    font-weight: 600;
}

.icon-cliente i {
    color: rgba(63, 146, 207, 1);
    font-size: 1.5em;
}

/*======================================
        SECTION CONTACTO FORMULARIO
=======================================*/

.formconta-title {
    font-size: 2em;
    font-weight: bold;
    color: rgba(255,255,255,1);
    text-align: center;
    padding: 2% 0;
}

.btn-enviar {
    background-color: rgba(236, 84, 108, 1) !important;
    border-radius: 5px !important;
    color: rgba(255, 255, 255, 1) !important;
    padding: 0.5em 1.5em !important;
    font-weight: 600 !important;
    transition: all 0.3s ease-in-out 0s !important;
}

.btn-enviar:hover {
    background-color: rgba(220, 53, 69, 1) !important;
}


/*==============================
        SECTION CONTACTO
===============================*/

.container-contacto {
    /* background-color: rgba(0, 0, 0, 1); */
    background-color: rgba(36, 36, 68, 1);
    color: rgba(255, 255, 255, 0.8);
    padding: 4% 4% 1% 4%;
    box-sizing: border-box;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0 3em;
    box-sizing: border-box;
}

.container-contact-inf {
    padding-left: 2%;
}

.li-title {
    font-weight: bolder;
}

.fa-facebook,
.fa-youtube,
.fa-globe-americas {
    color: rgba(255, 255, 255, 0.8);
    font-size: 2.5em;
}

.fa-facebook:hover {
    color: rgba(59, 89, 152, 1);
    cursor: pointer;
}

.fa-youtube:hover {
    color: rgba(196, 48, 43, 1);
    cursor: pointer;
}

.fa-globe-americas:hover {
    color: rgba(43, 196, 138, 1);
    cursor: pointer;
}

/*==============================
        MEDIA QUERIES
===============================*/
/* @media (min-width: 1200px) { 


 } */


/*============================
        Media 992px
===============================*/

@media (min-width: 992px) {
    .navbar li {
        margin-left: 1em;
        margin-right: 1em;
    }

    .home-title {
        font-size: 2.5em;
    }

    .home-description {
        font-size: 1.1em;
    }

    .btn-demo {
        padding: 0.8em 2em !important;
    }

    .img-plan {
        width: 50%;
    }
    #formconta{
        padding: 0 10%;
    }
}


/*============================
        Media 768px
===============================*/
@media (min-width: 768px) and (max-width: 991px) {
    .bg-navbar {
        padding: 0 !important;
    }

    .navbar-brand {
        margin: 1.5% 0 1.5% 1.5%;
    }

    .navbar-toggler {
        margin: 1.5% 1.5% 1.5% 0;
    }

    #navbarNav {
        background-color: rgba(255, 255, 255, 1);
        padding: 2% 3%;
    }

    .nav-link {
        color: rgba(20, 30, 58, 1);
        font-weight: 600;
    }

    .home-title {
        font-size: 2em;
    }

    .div-center {
        padding: 0 2em;
    }

    .home-description {
        font-size: 1.1em;
    }

    .img-home-content {
        padding: 2em;
    }

    .btn-demo {
        padding: 0.8em 2em !important;
    }

    .container-planes-inf {
        padding: 0 5%;
    }

    .planes-title {
        font-size: 2.2em;
    }

    .img-plan {
        width: 30% !important;
    }

    .promo-title,
    .title-efac {
        font-size: 2.1em;
    }

    .cara-desc,
    .modulos-desc {
        font-size: 2.5em;
    }

    .row-efac {
        margin: 3em !important;
    }

    .content-logo {
        padding: 2em 7em !important;
    }

    .row-linea {
        margin: 0 1% !important;
    }


    .comodin-box {
        display: none;
    }

    .container-contact-inf {
        padding-left: 3%;
    }

    .box-footer {
        margin-top: 1.7em;
    }

    :target {
        scroll-margin-top: 23rem;
    }

}


/*============================
        Media 576px
===============================*/
@media (min-width: 576px) and (max-width: 767.98px) {

    .bg-navbar {
        padding: 0 !important;
    }

    .navbar-brand {
        margin: 2% 0 2% 2%;
    }

    .navbar-toggler {
        margin: 2% 2% 2% 0;
    }

    #navbarNav {
        background-color: rgba(255, 255, 255, 1);
        padding: 3% 4%;
    }

    .nav-link {
        color: rgba(20, 30, 58, 1);
        font-weight: 600;
    }

    .home-title {
        font-size: 2.3em;
    }

    .div-center {
        padding: 0 2em;
    }

    .home-description {
        font-size: 1em;
    }

    .img-home-content {
        padding: 2em;
    }

    .planes-title {
        font-size: 2em;
    }

    .img-plan {
        width: 30% !important;
    }

    .promo-title,
    .title-efac,
    .title-linea {
        font-size: 2em;
    }

    .container-planes-inf,
    .container-planes-sup {
        padding: 0 5%;
    }

    .cara-desc,
    .modulos-desc {
        font-size: 2em;
    }

    .row-efac {
        margin: 2em !important;
    }

    .row-ex {
        display: flex !important;
        flex-direction: column !important;
        margin: 3% !important;
    }

    .col-ex {
        margin: 2% 0;
    }

    .content-logo {
        padding: 2em !important;
    }

    .row-linea {
        margin: 0 5% !important;
    }

    .comodin-box {
        display: none;
    }

    .container-contact-inf {
        padding-left: 4%;
    }

    .box-footer {
        margin-top: 1.5em;
    }

    footer{
        padding-top: 3em !important;
    }
    
    :target {
        scroll-margin-top: 23rem;
    }

}


/*============================
        Media 575px
===============================*/
@media (max-width: 575.98px) {
    /* 
    :target {
        scroll-margin-top: 7rem;
    } */

    .bg-navbar {
        padding: 0 !important;
    }

    .navbar-brand {
        margin: 3% 0 3% 3%;
    }

    .navbar-toggler {
        margin: 3% 3% 3% 0;
    }

    #navbarNav {
        background-color: rgba(255, 255, 255, 1);
        padding: 0 1em;
    }

    .nav-link {
        color: rgba(20, 30, 58, 1);
        font-weight: 600;
    }

    .home-title {
        font-size: 2em;
    }

    .home-description {
        font-size: 0.9em !important;
    }

    .div-center {
        padding: 0 2em;
    }

    .home-description {
        font-size: 1em;
    }

    .img-home-content {
        padding: 2em;
    }

    .container-planes-inf,
    .container-planes-sup {
        padding: 0 3%;
    }

    .img-plan {
        width: 30%;
    }

    .planes-title {
        font-size: 1.8em;
    }

    .title-circle {
        font-size: 1.2em;
    }

    .promo-title,
    .title-efac,
    .title-ex,
    .title-linea {
        font-size: 1.8em;
    }

    .cara-desc,
    .modulos-desc {
        font-size: 1.6em;
    }

    .swiper-modulo-desktop {
        display: none;
    }

    .swiper-modulo-mobile {
        display: flex;
        justify-content: center;
        padding-bottom: 0% !important;
        color: rgba(255, 255, 255, 1);
    }

    .swiper-modulo {
        margin: 0%;
    }

    .row-efac {
        margin: 1em !important;
    }

    .row-ex {
        display: flex !important;
        flex-direction: column !important;
        margin: 4% !important;
    }

    .col-ex {
        margin: 2% 0;
    }

    .icon-title {
        font-size: 1.2em;
    }

    .title-prod {
        font-size: 1em;
        padding: 0.5em;
    }

    .container-ex,
    .container-linea {
        margin-top: 4em !important;
    }

    .row-linea {
        display: none !important;
    }

    .img-prod {
        padding: 1em 1em 0 1em;
    }

    .sub-carac {
        display: none;
    }

    .swiper-premium-mobile,
    .swiper-full-mobile,
    .swiper-cloud-mobile,
    .swiper-linea-mobile {
        display: flex;
        justify-content: center;
    }

    .swiper-linea-mobile {
        background-color: rgba(245, 169, 44, 1) !important;
    }

    .swiper-premium,
    .swiper-full {
        background-color: rgba(255, 255, 255, 1);
        /* margin-top: 5%;
        padding-bottom:2%; */
        margin-bottom: 2%;
    }

    .swiper-cloud {
        background-color: rgba(255, 255, 255, 1);
        /* padding-bottom:3%; */
    }

    .swiper-carac i {
        color: rgba(236, 84, 108, 1);
    }

    .comodin-box {
        display: none;
    }

    .container-contact-inf {
        padding-left: 4%;
    }

    .box-footer {
        margin-top: 1em;
    }

    .parallax,
    .parallaxCarac {
        display: none;
    }

    .row-clientes {
        margin: 0%;
    }

    footer{
        padding-top: 3em !important;
    }

    .container-contact-inf {
        margin: 2% 5%;
        padding: 0;
    }

    :target {
        scroll-margin-top: 20rem;
    }
    
}